/* Mise en page générale ---------------------------  */
/* -------------------------------------------------- */


/*     code couleur        */
/* Gris marronné 89,79,79  */
/* bleu clair 170, 207, 221*/
/* bleu pétant 99, 247, 255*/
/* Gris clair 214, 214, 214*/



body {
  width: 85%;
  margin: auto;
  font-family : arial, sans-serif;
  text-align: center;
  /*  border : 1px solid black;*/
  color: rgb(89,79,79);
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

header, footer {
  background-color: rgb(89,79,79);
  color : rgb(99, 247, 255);
}


/* Mise en page header -------------------------------------- */
/* ---------------------------------------------------------- */

h1, header section {
  display: inline-block;
}

header {
  height: 12em;
  margin: 2em auto 0em auto;
  border-bottom: 0.5em solid rgb(99, 247, 255);
}

h1 {
  color : white;
  width: 60%;
  font-variant-caps: small-caps;
  font-size: 4em;
  vertical-align: middle;
  margin-top: 0.3em;
  text-shadow: 1px 1px 1px white;
}

h1:hover {
  color: rgb(99, 247, 255);
}

form a:hover {
  text-decoration: none;
} /* pour régler petit soucis de "soulignage"*/

header a:hover {
  text-decoration: underline;
}

header section {
  width: 38%;
  vertical-align: middle;
}

header input {
  width: 11em;
}

header i {
  width: 3em;
}

section div {
  margin: 1em;
}


/* Mise en page nav --------------------------------------  */
/* -------------------------------------------------------- */

nav {
  border-bottom: 0.5em solid rgb(99, 247, 255);
  padding: 0px;
  margin: auto auto Opx auto;
  color: rgb(89,79,79);
}

nav ul {
  width: auto;
  margin: 0px;
  padding : 0px;
}

nav li {
  margin: 0px;
  display: inline-block;
  width: 24.2%;
  height: 2.5em;
  text-align: center;
  /*border: 1px solid black;*/
}

nav a {
  display: block;  /* pour faire l'élément cliquable*/
  width: 99%;
  height: 2em;
  margin-top: 0;
  padding: 0.5em;
}

nav li:hover {
  background: rgb(89,79,79);
  border-left: 0.6em solid rgb(99, 247, 255);
  border-right: 0.6em solid rgb(99, 247, 255);
  color: rgb(99, 247, 255);
  box-shadow: 0px 3px 5px rgb(99, 247, 255);
  transform: scale(1);
}

/* Mise en page Main ------------------------------------------*/
/* -------------------------------------------------------- */

main {
/*  border-right: 2em solid rgb(89,79,79);*/
/* background-color: rgb(89,79,79);*/
}

/* Mise en page Aside --------------------------------------  */
/* -------------------------------------------------------- */


aside {
  border: 0.1px solid rgb(89,79,79);
  width: 25%;
  height: auto;
  text-align: left;
  background: rgb(89,79,79);
}

aside article {
  text-align: center;
  width: 100%;
  height: 18em;
  margin-top: 0px;
  color: white;
  padding-top: 1em;
}

aside img {
  width: 12em;
}
aside article:hover {
  background: rgb(99, 247, 255);
  box-shadow: 2px 2px 4px rgb(89,79,79);
  transform: scale(1.124);
  color: rgb(89,79,79);
}

aside p {
  margin: auto;
  font-size: 0.9em;
  width: 13.5em;
  text-align: justify;
  margin-top: 1em;
  font-weight: normal;
}

aside h3 {
  font-size: 1.5em;
}
/* Mise en page footer----------------------------------------------- */
/* ------------------------------------------------------------------ */

footer {
  height: 5em;
  margin: 0em auto 1em auto;
  border-top: 0.5em solid rgb(99, 247, 255);
}
