/* Mise en page générale */
/* --------------------- */


/*     code couleur        */
/*  Gris marronné 89,79,79 */
/* bleu clair 170, 207, 221*/
/* bleu pétant 99, 247, 255*/
/* Gris clair 214, 214, 214*/



* {
  width: 90%;
/*  border : 1px solid black;*/
  margin: auto;
  font-family : arial, sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Mise en page header */
/* ------------------- */

h1, header section {
  display: inline-block;
}

header {
  height: 12em;
  background-color: rgb(89,79,79);
  margin: 2em auto 0em auto;
  color : rgb(99, 247, 255);
  border-bottom: 0.5em solid rgb(99, 247, 255);
}

h1 {
  color : white;
  width: 60%;
  font-variant-caps: small-caps;
  font-size: 4em;
  vertical-align: middle;
  margin-top: 0.3em;
  text-shadow: 1px 1px 1px white;
}

h1:hover {
  color: rgb(99, 247, 255);
}

form a:hover {
  text-decoration: none;
} /* pour régler petit soucis de "soulignage"*/ 

header section {
  width: 38%;
  vertical-align: middle;
}

header input {
  width: 11em;
}

header i {
  width: 3em;
}



section div {
  margin: 1em;
}

/* Mise en page footer */
/* ------------------- */

footer {
  height: 7em;
  background-color: rgb(89,79,79);
  color : rgb(229,252,194);
  margin: 4em auto 1em auto;

}
